@charset "utf-8";

/**/

.groupbox {
    margin: 30px 0 30px 2%;
    width: 95%;
    border: 1px solid brown;
    border-radius: 10px;
    background-color: #e4e4e4;
    font-size: 20px;
    min-height: 800px;
}

.text {
    width: 96%;
    margin: 25px 2% 25px 2%;
    text-align: justify;
    background-color: white;
    box-shadow: 0 0 3px #a1a1a1;
}

.title,
.about {
    width: 90%;
    margin: 0 auto;
}

.title {
    padding-top: 30px;
    font-weight: bold;
}

hr {
    margin-bottom: 30px;
    opacity: 20%;
}

dt {
    padding: 15px 0 5px 0;
}

dd {
    padding-left: 40px;
    display: list-item;
    list-style-position: inside;
}

dd>a {
    color: blue;
}

dt>iframe {
    width: 1050px;
}