@charset "utf-8";

/* */

.groupbox {
    margin: 30px 0 30px 2%;
    width: 95%;
    border: 1px solid brown;
    border-radius: 10px;
    background-color: silver;
}

.legend {
    font-size: 25px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 10px brown;
    line-height: 50px;
    color: white;
    font-weight: bolder;
    padding: 0 30px 0 30px;
    background-color: #a83232;
    margin-bottom: 20px;
}

.groupbox>a {
    right: 0px;
    line-height: 40px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-weight: bold;
    margin: 0 0 20px 20px;
    background-color: #a86060;
    color: white;
}

.boxitem {
    margin: 0 auto;
}

.item {
    width: 225px;
    height: 250px;
    box-shadow: 0 0 3px blue;
    border-radius: 10px;
    text-align: center;
    display: block;
    float: left;
    margin: 2px 2px 15px 14px;
    background-color: white;
}

.img {
    margin-top: 5px;
    height: 170px;
}

.img>a>img {
    max-width: 90%;
    height: 100%;
}

.name>a {
    font-weight: bold;
    text-decoration: none;
    color: #ff4500;
}

.name,
.price {
    height: 50px;
    margin-top: 3px;
}

.price {
    color: orange;
}