<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<main>
	<div style="width: 300px; margin: 3rem auto">
		<form class="form-signin" th:action="@{/security/login}" method="post">
			<!--       <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
			<h1 class="h3 mb-3 font-weight-normal">ĐĂNG NHẬP</h1>
			<label for="inputEmail" class="sr-only">Tên đăng nhập:</label> <input
				type="text" name="username"  class="form-control"
				placeholder="Tên đăng nhập" required autofocus=""> <label
				for="inputPassword" class="sr-only">Mật khẩu:</label> <input
				type="password" name="password" 
				class="form-control" placeholder="Mật khẩu" required>
			<div class="checkbox mb-3">
				<label> <input type="checkbox" value="remember-me"
					name="remember-me"> Nhớ đăng nhập
				</label>
			</div>
			<i class="alert" th:text=${message}></i><br />
			<button class="btn  btn-primary btn-block" type="submit">Sign
				in</button>
		</form>
	</div>
</main>


</html>