*{
    padding: 0;
    margin: 0;
    }
    body{
    font-family: Tahoma;
    }
    .container{
    width: 960px;
    margin: 0 auto;
    }
    a{
    text-decoration: none;
    }
    nav{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color:#017d8e ;
    }
    nav ul>li{
    display: inline-block;
    list-style: none;
    padding: 0 20px;
    }
    nav ul>li>a{
    color: white;
    font-size: 12px;
    }
    nav ul{
    float: left;
    }
    .search{
        width: 100%;
        height: 25px;
        background-color: aquamarine;
    }
    nav .search{
    float: right;
    margin-right: 20px;
    }
    nav .btn{
    background-color: black;
    color: white;
    padding: 3px 10px;
    }
    .search .frm-tk{
    width: 750px;
    padding: 3px 10px;
    }
    .logo{
    text-align: center;
    clear: both;
    }
    aside{
    width: 250px;
    min-height: 700px;
    background-color:#017d8e ;
    float: left;
    margin-bottom: 5px;
    }
    article{
    float: left;
    height: 700px;
    width:700px ;
    margin-left: 10px;
    
    }
    .hang2{
    margin-top: -1px;
    }
    .hang2 img{
    float: left;
    margin-right: 10px;
    margin-bottom: 28px;
    }
    .hang2 .td-tin{
    float: left;
    width: 290px;
    }
    .hangduoi{
    clear: both;
    width: 100%;
    }
    .hangduoi .nd{
    width: 340px;
    height: 140px;
    border: 1px double coral;
    float: left;
    margin-top: 20px;
    margin-right: 5px;
    }
    .hangduoi img{
    float: left;
    margin: 2px 7px 10px 5px;
    }
    .hangduoi .thongtin{
    float: left;
    width: 145px;
    }
    .hangduoi h3{
    font-size: 14px ;
    color: #ac7b2f;
    margin-top: 10px;
    }
    .hangduoi p{
    font-size: 12px;
    color: #000000;
    margin-top: 10px;
    }
    .hang2 h3{
    font-size: 18px;
    color: #01515c;
    }
    .hang2 p{
    font-size: 14px;
    color: black;
    margin-top: 10px;
    }
    footer{
    clear: both;
    width: 100%;
    height: 40px;
    background-color:#017d8e ;
    margin-top: 5px;
    padding-top: 10px;
    }